{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if selectedCollections}}
      {{c-collections-bar collections=selectedCollections total=selectedCollections.firstObject.totalTracks}}
  {{else if selectedTracks}}
      {{#c-tracks-bar tracks=selectedTracks download='download' delete='delete' queue='queue' transitionToCollections='transitionTo'}}
          <div {{action 'removeFromCollection'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <span class="material-icons">
              local_offer
            </span>
          </div>
       {{/c-tracks-bar}}
  {{else if cache.hasPreviousTransition}}
      {{c-transition-bar transitionToPrevious='transitionToPrevious' title=model.name selectAll='selectAll'}}
  {{/if}}

  {{#if cache.hasPreviousTransition}}
      <header class="mdl-layout__header hidden" />
  {{else}}
   {{c-menu-bar title=model.name selectAll='selectAll' classNameBindings='hideMdlHeader:hidden'}}
  {{/if}}

  {{#c-endless-scroll tagName='main' class='mdl-layout__content mdl-color--grey-100' didScrollToBottom='didScrollToBottom'}}
    {{#if showNotFound}}
      <div class="mdl-grid my-grid-title">
      No records found
      </div>
    {{/if}}

    {{#if tracks}}
        <div class="mdl-grid my-grid">
            {{#each sortedTracks as |track|}}
                {{c-track model=track action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=(if model.isQueue false track.isQueued)}}

                <div class="my-separator">
                    <div class="my-line" />
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if isPending}}
      <div class="my-loading-bar">
        {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
      </div>
    {{/if}}
  {{/c-endless-scroll}}

  {{c-audio-player play='play' pause='pause' previous='previous' next='next'}}
{{/c-mdl-layout}}
