{{#if audioPlayer.track}}
  {{#if audioPlayer.isLargeMode}}
    <div class="my-audio-stamp my-fixed-audio-stamp" />

    <div class="my-audio-bar my-fixed-audio-bar">
        <div class="mdl-grid my-audio-grid">
            <small class="mdl-cell my-cell--5-col">
                {{time utils.audioSlider.value}}
            </small>

            <div class="mdl-cell my-cell--5-col my-audio-cell">
                <div class="my-audio-box">
                  {{#c-mdl class='mdl-button mdl-js-button mdl-button--icon'}}
                      <i class="material-icons" {{action 'previous'}}>skip_previous</i>
                  {{/c-mdl}}
                </div>
            </div>

            <div class="mdl-cell my-cell--5-col my-audio-cell">
                <div class="my-audio-box">
                    {{#if audioPlayer.isLoading}}
                        {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
                    {{/if}}

                    {{#if audioPlayer.isPlaying}}
                      {{#c-mdl action='pause' class='mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored'}}
                          <i class="material-icons">pause</i>
                      {{/c-mdl}}
                    {{/if}}

                    {{#if audioPlayer.isIdle}}
                      {{#c-mdl action='play' class='mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored'}}
                          <i class="material-icons">play_arrow</i>
                      {{/c-mdl}}
                    {{/if}}
                </div>
            </div>

            <div class="mdl-cell my-cell--5-col my-audio-cell">
                <div class="my-audio-box">
                  {{#c-mdl action='next' class='mdl-button mdl-js-button mdl-button--icon'}}
                      <i class="material-icons">skip_next</i>
                  {{/c-mdl}}
                </div>
            </div>

            <small class="mdl-cell my-cell--5-col my-text-right">
              {{time utils.audioSlider.max}}
            </small>
        </div>

        <div class="mdl-grid my-audio-grid">
          <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop my-audio-text">
            <div {{action 'toggleMode'}} class="mdl-button mdl-js-button my-audio-btn">
              <div class="my-audio-table">
                <div class="my-audio-name">
                  {{audioPlayer.track.name}}

                  <div class="my-audio-paragraph-end" />
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  {{else}}
    <div class="my-audio-stamp" />

    <div class="my-audio-bar">
        <div class="mdl-grid my-audio-grid">
            <div class="mdl-cell mdl-cell--3-col-phone mdl-cell--6-col-tablet mdl-cell--9-col-desktop my-audio-text">
              <div {{action 'toggleMode'}} class="mdl-button mdl-js-button my-audio-btn">
                <div class="my-audio-table">
                  <div class="my-audio-name">
                    {{audioPlayer.track.name}}
                  </div>

                   <div class="my-audio-paragraph-end" />
                 </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-tablet mdl-cell--3-col-desktop my-audio-cell">
                <div class="my-audio-box">
                    {{#if audioPlayer.isLoading}}
                        {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
                    {{/if}}

                    {{#if audioPlayer.isPlaying}}
                      {{#c-mdl action='pause' class='mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored'}}
                          <i class="material-icons">pause</i>
                      {{/c-mdl}}
                    {{/if}}

                    {{#if audioPlayer.isIdle}}
                      {{#c-mdl action='play' class='mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored'}}
                          <i class="material-icons">play_arrow</i>
                      {{/c-mdl}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
  {{/if}}
{{/if}}