{{#if audioPlayer.recording}}
    <div class="audio-stamp" />

    <div class="audio-bar">
        <div class="mdl-grid">
            <div {{action 'transitionToQueue'}} class="mdl-cell--3-col-phone mdl-cell--6-col-tablet mdl-cell--9-col-desktop">
              <div class="audio-name">
                {{audioPlayer.recording.name}}
              </div>
            </div>

            <div class="mdl-cell--1-col-phone mdl-cell--2-col-tablet mdl-cell--3-col-desktop">
                <div class="audio-icon-large">
                    {{#if audioPlayer.isLoading}}
                        {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
                    {{/if}}

                    {{#if audioPlayer.isPlaying}}
                        <i class="material-icons" {{action 'pause'}}>pause</i>
                    {{/if}}

                    {{#if audioPlayer.isIdle}}
                        <i class="material-icons" {{action 'play'}}>play_arrow</i>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{/if}}