{{c-menu}}

<div class="card my-card-cover">
    <div class="card-image waves-effect waves-block waves-light" {{action 'play'}}>
        {{c-parallax src=model.thumbnail}}
    </div>

    <div class="card-content my-track-content">
        {{#c-fixed-btn class='fixed-action-btn horizontal click-to-toggle my-card-content'}}
            <a class="btn-floating btn-large waves-effect waves-light red my-model-btn">
                <i class="material-icons">menu</i>
            </a>

            <ul>
                <li>
                    <a href="javascript:void(0)" class="btn-floating waves-effect waves-light green" {{action 'transitionToPlaylists'}}>
                        <i class="material-icons">loyalty</i>
                    </a>
                </li>

                {{#if model.isDownloaded}}
                    <li>
                        <a href="javascript:void(0)" class="btn-floating waves-effect waves-light orange" {{action 'delete'}}>
                            <i class="material-icons">delete</i>
                        </a>
                    </li>
                {{else if model.isDownloadable}}
                    <li>
                        <a href="javascript:void(0)" class="btn-floating waves-effect waves-light blue" {{action 'download'}}>
                            <i class="material-icons">file_download</i>
                        </a>
                    </li>
                {{/if}}
            </ul>
        {{/c-fixed-btn}}

        <span class="card-title activator grey-text text-darken-4 truncate">
            {{model.name}}
        </span>

        <div class="row grey-text my-subtext">
          <div class="col s6">
              Track
          </div>

          <div class="col s6 my-right">
            {{#if model.isDownloaded}}
              <i class="material-icons">file_download</i>
            {{/if}}

            {{#if model.isDownloading}}
              {{c-spinner type='small'}}
            {{/if}}
          </div>
        </div>
    </div>
</div>

{{#c-tabs alignmentAtStart=false}}
  <li class="tab col s6">
      <a href="javascript:void(0)">
          Related
      </a>
  </li>
{{/c-tabs}}

{{outlet}}