{{c-menu}}

<div class="card my-card-cover">
    <div class="card-image waves-effect waves-block waves-light" {{action 'play'}}>
        {{c-parallax model=model}}
    </div>

    <div class="card-content my-track-content">
        {{#c-fixed-btn class='fixed-action-btn horizontal click-to-toggle my-card-content'}}
            <a class="btn-floating btn-large waves-effect waves-light red my-model-btn">
                <i class="mdi mdi-menu"></i>
            </a>

            <ul>
                <li>
                    <a href="javascript:void(0)" class="btn-floating waves-effect waves-light" {{action 'transitionToPlaylists'}}>
                        <i class="mdi mdi-playlist-plus"></i>
                    </a>
                </li>

                <li class={{unless model.isDownloaded 'my-hidden'}}>
                    <a href="javascript:void(0)" class="btn-floating waves-effect waves-light" {{action 'delete'}}>
                        <i class="mdi mdi-delete"></i>
                    </a>
                </li>

                <li class={{unless model.isDownloadable 'my-hidden'}}>
                    <a href="javascript:void(0)" class="btn-floating waves-effect waves-light" {{action 'download'}}>
                        <i class="mdi mdi-download"></i>
                    </a>
                </li>
            </ul>
        {{/c-fixed-btn}}

        <span class="card-title activator grey-text text-darken-4 truncate">
            {{model.name}}
        </span>

        <div class="row grey-text my-subtext">
          <div class="col s6">
              Track
          </div>

          <div class="col s6 my-right">
            {{#if model.isPlaying}}
                <div class="my-track-icon">
                    <div class="eq">
                        <div class="eq-bar"></div>
                        <div class="eq-bar"></div>
                        <div class="eq-bar"></div>
                    </div>
                </div>
            {{/if}}

            {{#if model.isDownloading}}
                {{c-spinner type='small'}}
            {{else if model.isDownloaded}}
                <div class="my-track-icon">
                    <i class="mdi mdi-download"></i>
                </div>
            {{/if}}
          </div>
        </div>
    </div>
</div>

{{#c-tabs}}
  <li class="tab col s6">
      <a href="javascript:void(0)">
          Related
      </a>
  </li>
{{/c-tabs}}

{{outlet}}