{{c-menu}}

<div class="card my-card-cover">
    <div class="card-image waves-effect waves-block waves-light" {{action 'play'}}>
        {{c-parallax src=model.thumbnail}}
    </div>

    <div class="card-content my-relative">
        {{#c-fixed-btn class='fixed-action-btn horizontal click-to-toggle my-card-content'}}
            <a class="btn-floating btn-large waves-effect waves-light red my-model-btn">
                <i class="material-icons">menu</i>
            </a>

            <ul>
                <li>
                    <a href="javascript:void(0)" class="btn-floating yellow orange" {{action 'transitionToPlaylists'}}>
                        <i class="material-icons">loyalty</i>
                    </a>
                </li>

                {{#unless model.isQueued}}
                    <li>
                        <a href="javascript:void(0)" class="btn-floating yellow teal" {{action 'queue'}}>
                            <i class="material-icons">queue_music</i>
                        </a>
                    </li>
                {{/unless}}

                {{#if model.isDownloaded}}
                    <li>
                        <a href="javascript:void(0)" class="btn-floating red" {{action 'delete'}}>
                            <i class="material-icons">delete</i>
                        </a>
                    </li>
                {{else if model.isDownloadable}}
                    <li>
                        <a href="javascript:void(0)" class="btn-floating blue" {{action 'download'}}>
                            <i class="material-icons">file_download</i>
                        </a>
                    </li>
                {{/if}}
            </ul>
        {{/c-fixed-btn}}

        <span class="card-title activator grey-text text-darken-4 truncate">
            {{model.name}}
        </span>

        <div class="row my-subtext">
          <div class="truncate">
            Track
          </div>

          {{#if model.isDownloaded}}
            <i class="material-icons left grey-text">file_download</i>
          {{/if}}
        </div>
    </div>

    {{#if model.isDownloading}}
      <div class="progress my-track-progress my-loading">
          <div class="indeterminate" />
      </div>
    {{/if}}
</div>

{{#c-tabs}}
    <li class="tab col s6">
        {{#link-to 'track.related' replace=true}}
            Related
        {{/link-to}}
    </li>

    {{#if model.isQueued}}
      <li class="tab col s6">
      {{!-- TODO: queue tab is not active when transition via player. --}}
        {{#link-to 'track.queue' replace=true}}
            Queue
        {{/link-to}}
      </li>
    {{else}}
      <li class="tab col s6 disabled">
        <a href="javascript:void(0)">
          Queue
        </a>
      </li>
    {{/if}}
{{/c-tabs}}

{{outlet}}