{{c-input value=value placeholder='Search' action='searchSelected' didFocusOut='didFocusOut'}}

{{#if isPending}}
  {{c-spinner}}
{{else if value}}
  <div class="my-clear" {{action 'clear'}}>
      <i class="mdi mdi-close"></i>
  </div>
{{/if}}

{{#if showAutoComplete}}
    <ul class="z-depth-2">
        {{#each suggestions as |suggestion|}}
            <li {{action 'searchSuggestion' suggestion}} class= {{if suggestion.isSelected 'active'}}>
                {{suggestion.value}}
            </li>
        {{/each}}
    </ul>
{{/if}}
