{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if selectedTracks}}
      {{c-tracks-bar tracks=selectedTracks transitionToCollections='transitionTo'}}
  {{else if selectedCollections}}
      {{c-collections-bar collections=selectedCollections}}
  {{else if cache.hasPreviousTransition}}
    {{#c-mdl class='mdl-layout__header-row my-header-bar my-suggestions-header'}}
      <label {{action 'transitionToPrevious'}} class="mdl-button mdl-js-button mdl-button--icon my-spaced-icon">
        <i class="material-icons">
          arrow_back
        </i>
      </label>

      {{c-autocomplete search='search' liveQuery=liveQuery suggestions=suggestions}}

      <div class="mdl-layout-spacer"></div>

      {{#if liveQuery}}
        {{#c-mdl tagName='button' action='clear' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
          <i class="material-icons">
            close
          </i>
        {{/c-mdl}}
      {{/if}}
    {{/c-mdl}}

    <header class="mdl-layout__header hidden" />
  {{/if}}

  {{#unless cache.hasPreviousTransition}}
    <header class="mdl-layout__header {{if hideMdlHeader 'hidden'}}">
      <div class="mdl-layout__header-row my-suggestions-header">
        {{c-autocomplete search='search' liveQuery=liveQuery suggestions=suggestions}}

        <div class="mdl-layout-spacer"></div>

        {{#if liveQuery}}
          {{#c-mdl tagName='button' action='clear' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
            <i class="material-icons">close</i>
          {{/c-mdl}}
        {{/if}}
      </div>
    </header>
  {{/unless}}

  <main class="mdl-layout__content mdl-color--grey-100">
      {{#if showNotFound}}
        <div class="mdl-grid my-grid-panel">
          No records found
        </div>
      {{/if}}

      {{#if isLoading}}
        <div class="my-loading-bar">
          {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
        </div>
      {{/if}}

      {{#if tracks}}
        <div class="mdl-grid my-grid-title">
            <h4>
                Tracks
            </h4>
        </div>

        <div class="mdl-grid my-grid">
            {{#each sortedTracks as |track|}}
                {{c-track model=track action='play' swipeLeft='queueSingle' swipeRight='downloadSingle' showQueued=track.isQueued toggleIsSelected='deselectCollections'}}

                <div class="my-separator">
                    <div class="my-line" />
                </div>
            {{/each}}

            {{#link-to 'track.list' (query-params query=query) class='mdl-button mdl-js-button mdl-js-ripple-effect my-more-btn'}}
              <i class="material-icons">
                expand_more
              </i>
            {{/link-to }}
        </div>
      {{/if}}

      {{#if collections}}
        <div class="mdl-grid my-grid-title">
            <h4>
                Collections
            </h4>
        </div>

        <div class="mdl-grid my-grid">
            {{#each sortedCollections as |collection|}}
                {{c-collection model=collection action='transitionTo' toggleIsSelected='deselectTracks'}}
            {{/each}}

            {{#link-to 'collection.list' (query-params query=query) class='mdl-button mdl-js-button mdl-js-ripple-effect my-more-btn'}}
              <i class="material-icons">
                expand_more
              </i>
            {{/link-to}}
        </div>
      {{/if}}
  </main>

  {{c-audio-player audioplay='play' pause='pause' previous='previous' next='next'}}
{{/c-mdl-layout}}