{{#if showMenu}}
  {{#c-nav}}
    <div class="brand-logo truncate" style="width: calc(100% - 115px);">
      {{query}}
    </div>

    <ul class="right">
      <li>
        <a href="javascript:void(0)" {{action 'hideMenu'}}>
          <i class="material-icons">search</i>
        </a>
      </li>
    </ul>
  {{/c-nav}}
{{else}}
  {{c-autocomplete search='search' value=value suggestions=suggestions didFocusOut='didFocusOut'}}
{{/if}}

{{#c-tabs style='margin-top: 2px;'}}
  <li class="tab col s6">
    {{#link-to 'search.tracks' (query-params query=query)}}
      Tracks
    {{/link-to}}
  </li>

  <li class="tab col s6">
    {{#link-to 'search.collections' (query-params query=query)}}
      Collections
    {{/link-to}}
  </li>
{{/c-tabs}}

{{!-- {{outlet}} --}}