<div class="my-track-draggable {{if model.isSelected 'my-active'}}">
    {{#link-to 'track.related' model.id tagName='div' class='my-track-left'}}
        <div class="my-static-image">
            {{c-image src=thumbnail}}
        </div>
    {{/link-to}}

    <div {{action 'play'}} class="my-track-body">
        <div class="my-track-text">
            {{model.name}}
        </div>

        <div class="my-track-status grey-text">
            {{#if model.isPlaying}}
                <div class="my-track-icon">
                    <div class="eq">
                        <div class="eq-bar"></div>
                        <div class="eq-bar"></div>
                        <div class="eq-bar"></div>
                    </div>
                </div>
            {{/if}}

            {{#if model.isDownloading}}
                {{c-spinner type='small'}}
            {{else if model.isDownloaded}}
                <div class="my-track-icon">
                    <i class="material-icons">file_download</i>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<div class="my-separator">
    <div class="my-line" />
</div>
