<div class="mdl-grid my-track-grid">
  <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop my-track-cell">
    <div class="mdl-button mdl-js-button mdl-button--fab">
      <i class="material-icons">
        queue_music
      </i>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop my-track-cell my-text-right">
    <div class="mdl-button mdl-js-button mdl-button--fab">
      <i class="material-icons">
        shop_two
      </i>
    </div>
  </div>
</div>

<div class="my-track-draggable {{if model.isSelected 'my-active'}}">
  <div {{action 'click'}} class="my-track-middle">
      <div class="my-static-image">
        <div class="my-outer-image">
            <img class="my-inner-image" src={{model.thumbnail}} draggable="false" />
        </div>
      </div>
  </div>

  <div {{action 'click'}} class="my-track-body my-text">
    {{model.name}}

    <div class="my-track-paragraph-end" />
  </div>

  <div class="my-track-middle my-status-bar">
      {{#if model.isPlaying}}
          <i class="material-icons">headset</i>
      {{else}}
          {{#if showQueued}}
              <i class="material-icons">schedule</i>
          {{/if}}
      {{/if}}

      {{#if model.isDownloading}}
          {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
      {{/if}}

      {{#if model.isDownloaded}}
          <i class="material-icons">offline_pin</i>
      {{/if}}
  </div>

  <div class="my-track-middle">
    <div {{action 'toggleIsSelected'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">more_vert</i>
    </div>
  </div>
</div>