<div class="row" style="height: 84px; margin-bottom: 0;">
  <div class="col s6">
    <i class="material-icons my-audio-icon">
      queue_music
    </i>
  </div>

  <div class="col s6 my-right">
    <i class="material-icons my-audio-icon">
      shop_two
    </i>
  </div>
</div>

<div class="my-track-draggable {{if model.isSelected 'my-active'}}">
  <div {{action 'click'}} class="my-track-middle">
      <div class="my-static-image">
        <div class="my-outer-image">
            <img class="my-inner-image" src={{model.thumbnail}} draggable="false" />
        </div>
      </div>
  </div>

  <div {{action 'click'}} class="my-track-body">
    <div class="my-track-text">
      {{model.name}}
    </div>
  </div>

  <div class="my-track-middle my-status-bar">
      {{#if model.isPlaying}}
          <i class="material-icons">headset</i>
      {{else if showQueued}}
          <i class="material-icons">schedule</i>
      {{/if}}

      {{#if model.isDownloading}}
          {{c-spinner}}
      {{/if}}

      {{#if model.isDownloaded}}
          <i class="material-icons">offline_pin</i>
      {{/if}}
  </div>

  <div {{action 'changeSelect'}} class="my-track-middle">
    <i class="material-icons">more_vert</i>
  </div>
</div>