<div class="row my-track-placeholder">
  <div class="col s6">
    <i class="material-icons my-audio-icon">
      queue_music
    </i>
  </div>

  <div class="col s6 my-right">
    <i class="material-icons my-audio-icon">
      shop_two
    </i>
  </div>
</div>

<div {{action 'click'}} class="my-track-draggable waves-effect {{if model.isSelected 'my-active'}}">
  <div class="my-track-middle">
      <div class="my-static-image">
        <div class="my-image" style="background-image: url('{{model.thumbnail}}');" />
      </div>
  </div>

  <div class="my-track-body">
    <div class="my-track-text">
      {{model.name}}
    </div>

    <div class="my-track-status">
        {{#if model.isPlaying}}
          <div class="eq">
            <div class="eq-bar"></div>
            <div class="eq-bar"></div>
            <div class="eq-bar"></div>
          </div>
        {{else if showQueued}}
            <i class="material-icons">schedule</i>
        {{/if}}

        {{#if model.isDownloading}}
            {{c-spinner}}
        {{/if}}

        {{#if model.isDownloaded}}
            <i class="material-icons">offline_pin</i>
        {{/if}}
    </div>
  </div>

  <div {{action 'changeSelect' bubbles=false}} class="my-track-middle">
    <i class="material-icons">more_vert</i>
  </div>
</div>