{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if selectedTracks}}
      {{c-tracks-bar tracks=selectedTracks transitionToCollections='transitionTo'}}
  {{else if cache.hasPreviousTransition}}
      {{c-transition-bar transitionToPrevious='transitionToPrevious' title='Recommended' selectAll='selectAll'}}
  {{/if}}

  {{#if cache.hasPreviousTransition}}
      <header class="mdl-layout__header hidden" />
  {{else}}
   {{c-menu-bar title='Recommended' selectAll='selectAll' classNameBindings='selectedTracks.length:hidden'}}
  {{/if}}

  <main class="mdl-layout__content mdl-color--grey-100">
      {{#if showNotFound}}
        No records found
      {{/if}}

      {{#if tracks.isPending}}
        <div class="my-loading-bar">
          {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
        </div>
      {{/if}}

      {{#if lastHistoryTracks}}
        <div class="my-panel">
            <div class="mdl-grid my-title-grid">
                <div class="my-title-cell--10-col">
                    <h4 class="my-title-text">
                        History
                    </h4>
                </div>

                <div class="my-title-cell--2-col">
                    {{#link-to 'track.list' (query-params query=query) class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent my-title-btn'}}
                      more
                    {{/link-to }}
                </div>
            </div>

            <div class="mdl-grid">
                {{#each sortedLastHistoryTracks as |track|}}
                    {{c-track model=track action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=track.isQueued toggleIsSelected='deselectCollections'}}

                    <div class="my-separator">
                        <div class="my-line" />
                    </div>
                {{/each}}
            </div>
        </div>
      {{/if}}

      {{#if tracks}}
        <div class="my-panel">
            <div class="mdl-grid my-title-grid">
                <div class="my-title-cell--10-col">
                    <h4 class="my-title-text">
                        Recommended
                    </h4>
                </div>

                <div class="my-title-cell--2-col">
                    {{#link-to 'track.list' (query-params query=query) class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent my-title-btn'}}
                      more
                    {{/link-to }}
                </div>
            </div>

            <div class="mdl-grid">
                {{#each sortedTracks as |track|}}
                    {{c-track model=track action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=track.isQueued toggleIsSelected='deselectCollections'}}

                    <div class="my-separator">
                        <div class="my-line" />
                    </div>
                {{/each}}
            </div>
        </div>
      {{/if}}
  </main>

  {{c-audio-player audioPlayer=audioPlayer transitionTo='transitionTo' play='play' pause='pause'}}
{{/c-mdl-layout}}