{{search-bar title='Explorer' selectAll=selectAll}}

{{#endless-scroll didScrollToBottom=didScrollToBottom}}
    {{#if cache.selectedSnippets}}
        {{snippet-action-bar snippets=cache.selectedSnippets isEditMode=isEditMode download='download' remove='remove' setupEdit='setupEdit' exitEdit='exitEdit'}}
    {{/if}}

    {{suggest-input-group liveQuery=liveQuery editLabel=editLabel fetchSuggestions=fetchSuggestions isEditMode=isEditMode saveEdit='saveEdit' search='search'}}

    <div class="list-group spaced-top">
        {{#each sortedSnippets as |snippet|}}
            {{app-snippet model=snippet action='play' swipeleft='pushToDownload' swiperight='pushToQueue' param=snippet showQueued=snippet.isQueued}}

            <div class="list-group-separator snippet-separator" />
        {{/each}}
    </div>

    {{#if isLoading}}
        <div class="text-center audio-icon-large">
            <i class="mdl-spinner mdl-js-spinner is-active"></i>
        </div>
    {{/if}}
{{/endless-scroll}}

{{audio-bar audio=audio transitionToQueue=transitionToQueue play=play pause=pause}}
