{{#c-menu}}
    Recommended
{{/c-menu}}

<main>
    {{c-track-actions models=selectedTracks}}

    {{#if relatedByTracks.isPending}}
      {{c-spinner class='my-spinner'}}
    {{else}}
      {{#if lastHistoryTracks}}
        {{#each lastHistoryTracks as |track|}}
            {{c-track model=track play='playTrack'}}
        {{/each}}

        {{#link-to 'playlist' 'history' tagName='div' class='my-next'}}
            <i class="mdi mdi-chevron-right"></i>
        {{/link-to}}
      {{/if}}

      {{#each relatedByTracks as |relatedByTrack|}}
        {{#each relatedByTrack.relatedTracks as |track|}}
            {{c-track model=track play='playTrack'}}
        {{/each}}

        {{#link-to 'track.related' relatedByTrack.track tagName='div' class='my-next'}}
            <i class="mdi mdi-chevron-right"></i>
        {{/link-to}}
      {{/each}}
    {{/if}}
</main>
