{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if hideMdlHeader}}
    {{#c-mdl class='mdl-layout__header-row my-header-bar' classNameBindings='isEditMode:my-edit-bar'}}
      <label {{action (if isEditMode 'exitEdit' 'transitionToPrevious')}} class="mdl-button mdl-js-button mdl-button--icon menu-icon">
        <i class="material-icons">
          arrow_back
        </i>
      </label>

      <!-- TODO: implement via another way, see TODO questions? -->
      {{#if isEditMode}}
          {{c-autocomplete action='search' liveQuery=editedAlbumName suggestions=suggestions}}
      {{else}}
          {{c-autocomplete action='search' liveQuery=liveQuery suggestions=suggestions}}
      {{/if}}

      <div class="mdl-layout-spacer"></div>

      {{#if showActionButton}}
        {{#c-mdl tagName='button' action=(if isEditMode 'saveEdit' 'clear') class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
          <i class="material-icons">{{if isEditMode 'done' 'close'}}</i>
        {{/c-mdl}}
      {{/if}}
    {{/c-mdl}}
  {{/if}}

  <header class="mdl-layout__header {{if hideMdlHeader 'hidden'}}">
    <div class="mdl-layout__header-row">
      {{c-autocomplete action='search' liveQuery=liveQuery suggestions=suggestions}}

      <div class="mdl-layout-spacer"></div>

      {{#if liveQuery}}
        {{#c-mdl tagName='button' action='clear' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
          <i class="material-icons">close</i>
        {{/c-mdl}}
      {{/if}}
    </div>
  </header>

  {{#if selectedRecordings}}
      {{c-recordings-bar recordings=selectedRecordings download='download' delete='delete' queue='queue' transitionToAlbums='transitionTo'}}
  {{else if selectedAlbums}}
      {{c-albums-bar albums=selectedAlbums save='save' edit='setupEdit' delete='delete'}}
  {{/if}}

  <main class="mdl-layout__content mdl-color--grey-100">
      {{#if showNotFound}}
        No records found
      {{/if}}

      {{#if isLoading}}
        <div class="my-loading-bar">
          {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
        </div>
      {{/if}}

      {{#if recordings}}
        <div class="my-panel">
            <div class="mdl-grid my-title-grid">
                <div class="my-title-cell--10-col">
                    <h4 class="my-title-text">
                        Recordings
                    </h4>
                </div>

                <div class="my-title-cell--2-col">
                    {{#link-to 'recordings' (query-params query=query) class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent my-title-btn'}}
                      more
                    {{/link-to }}
                </div>
            </div>

            <div class="mdl-grid">
                {{#each sortedRecordings as |recording|}}
                    {{c-recording model=recording action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=recording.isQueued toggleIsSelected='deselectAlbums'}}

                    <div class="my-recording-separator">
                        <div class="my-recording-line" />
                    </div>
                {{/each}}
            </div>
        </div>
      {{/if}}

      {{#if albums}}
        <div class="my-panel">
            <div class="mdl-grid my-title-grid">
                <div class="my-title-cell--10-col">
                    <h4 class="my-title-text">
                        Albums
                    </h4>
                </div>

                <div class="my-title-cell--2-col">
                    {{#link-to 'albums' (query-params query=query) class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent my-title-btn'}}
                      more
                    {{/link-to }}
                </div>
            </div>

            <div class="mdl-grid my-album-grid">
                {{#each sortedAlbums as |album|}}
                    {{c-album model=album action='transitionTo' toggleIsSelected='deselectRecordings'}}
                {{/each}}
            </div>
        </div>
      {{/if}}
  </main>

  {{c-audio-player audioPlayer=audioPlayer transitionToQueue=transitionToQueue play=play pause=pause}}
{{/c-mdl-layout}}