{{#c-menu}}
    Recommended
{{/c-menu}}

<main>
    {{c-track-actions models=selectedTracks}}

    {{#if isPending}}
      {{c-spinner class='my-spinner'}}
    {{else}}
      {{#if latestHistoryTracks}}
        {{#each latestHistoryTracks as |track|}}
            {{c-track model=track play='playTrack'}}
        {{/each}}

        {{#link-to 'playlist' 'history' tagName='div' class='my-next'}}
            <i class="mdi mdi-chevron-right"></i>
        {{/link-to}}
      {{/if}}

      {{#each hashes as |hash|}}
        {{#each hash.topRelatedTracks as |relatedTrack|}}
            {{c-track model=relatedTrack play='playTrack'}}
        {{/each}}

        {{#link-to 'track.related' hash.track tagName='div' class='my-next'}}
            <i class="mdi mdi-chevron-right"></i>
        {{/link-to}}
      {{/each}}
    {{/if}}
</main>
