{{#c-menu}}
    Recommended
{{/c-menu}}

<main>
    {{c-track-actions models=selectedTracks}}

    {{#if loading.isPending}}
      {{c-spinner class='my-spinner'}}
    {{else}}
      {{#if latestHistoryHash}}
        {{#each latestHistoryHash as |hash|}}
            {{c-track model=hash.track play='play'}}
        {{/each}}

        <div class="my-next">
          {{#link-to 'playlist' 'history' class='btn grey lighten-1 waves-effect waves-light'}}
              More
          {{/link-to}}
        </div>
      {{/if}}

      {{#each latestHistoryHash as |hash|}}
        {{#each hash.topRelatedTracks as |relatedTrack|}}
            {{c-track model=relatedTrack play='play'}}
        {{/each}}

        <div class="my-next">
          {{#link-to 'track.related' hash.track class='btn grey lighten-1 waves-effect waves-light'}}
              More
          {{/link-to}}
        </div>
      {{/each}}
    {{/if}}
</main>
