{{#c-menu}}
    Recommended
{{/c-menu}}

<main>
    {{c-track-actions models=selectedTracks}}

    {{#if loading.isPending}}
      {{c-spinner class='my-spinner'}}
    {{else}}
      {{#if latestHistoryHash}}
        {{#each latestHistoryHash as |hash|}}
            {{c-track model=hash.track play='play'}}
        {{/each}}

        <div class="my-next">
          {{#link-to 'playlist' 'history' class='btn blue lighten-2 waves-effect waves-light'}}
              More
          {{/link-to}}
        </div>

        {{#each latestHistoryHash as |hash|}}
          {{#each hash.topRelatedTracks as |relatedTrack|}}
              {{c-track model=relatedTrack play='play'}}
          {{/each}}

          <div class="my-next">
            {{#link-to 'track.related' hash.track class='btn blue lighten-2 waves-effect waves-light'}}
                More
            {{/link-to}}
          </div>
        {{/each}}
      {{else}}
        <div class="container">
          <p class="caption">
            Nothing here.. yet! <br /> Search for tracks first and start playing some.
          </p>
        </div>
      {{/if}}
    {{/if}}
</main>
