{{#c-mdl-layout}}
  {{#if isSearchMode}}
    {{#c-mdl class='mdl-layout__header-row autocomplete-header'}}
      <label {{action 'endSearchMode'}} class="mdl-button mdl-js-button mdl-button--icon menu-icon">
        <i class="material-icons">
          arrow_back
        </i>
      </label>

      {{c-autocomplete action='search' liveQuery=liveQuery suggestions=suggestions}}

      <div class="mdl-layout-spacer"></div>

      {{#if liveQuery}}
        {{#c-mdl tagName='button' action='clear' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
          <i class="material-icons">close</i>
        {{/c-mdl}}
      {{/if}}
    {{/c-mdl}}
  {{/if}}

  <header class="mdl-layout__header {{if isSearchMode 'hidden'}}">
    <div class="mdl-layout__header-row">
      <div class="mdl-textfield mdl-js-textfield">
        <input value={{liveQuery}} {{action 'startSearchMode'}} class="mdl-textfield__input">

        <label class="mdl-textfield__label"></label>
      </div>

      <div class="mdl-layout-spacer"></div>

      <button {{action 'selectAll'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
  </header>

  <main class="mdl-layout__content mdl-color--grey-100">
      {{#if cache.selectedRecordings}}
          {{c-recordings-bar recordings=cache.selectedRecordings isEditMode=isEditMode download='download' remove='remove' setupEdit='setupEdit' exitEdit='exitEdit'}}
      {{/if}}

      {{#if showNotFound}}
        No records found
      {{/if}}

      {{#if recordings}}
        <div class="my-panel">
            <div class="mdl-grid my-title-grid">
                <div class="my-title-cell--10-col">
                    <h4 class="my-title-text">
                        Recordings
                    </h4>
                </div>

                <div class="my-title-cell--2-col">
                    {{#link-to 'recordings' (query-params query=query) class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent my-title-btn'}}
                      more
                    {{/link-to }}
                </div>
            </div>

            <div class="mdl-grid">
                {{#each sortedRecordings as |recording|}}
                    {{c-recording model=recording action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=recording.isQueued}}

                    <div class="my-recording-separator">
                        <div class="my-recording-line" />
                    </div>
                {{/each}}
            </div>
        </div>
      {{/if}}

      {{#if albums}}
        <div class="my-panel">
            <div class="mdl-grid my-title-grid">
                <div class="my-title-cell--10-col">
                    <h4 class="my-title-text">
                        Albums
                    </h4>
                </div>

                <div class="my-title-cell--2-col">
                    {{#link-to 'albums' (query-params query=query) class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent my-title-btn'}}
                      more
                    {{/link-to }}
                </div>
            </div>

            <div class="mdl-grid my-album-grid">
                {{#each sortedAlbums as |album|}}
                    {{c-album model=album action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=album.isQueued}}
                {{/each}}
            </div>
        </div>
      {{/if}}

      {{#if isLoading}}
          {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
      {{/if}}
  </main>

  {{c-audio-player audioPlayer=audioPlayer transitionToQueue=transitionToQueue play=play pause=pause}}
{{/c-mdl-layout}}