{{#if selectedModels.length}}
    <nav class="my-fixed-row my-action-row">
        <div class="nav-wrapper">
            <div class="my-badge">
                {{selectedModels.length}}
            </div>

            <ul class="right">
                <li>
                  <a href="javascript:void(0)" {{action 'transitionToPlaylists'}}>
                      <i class="material-icons">loyalty</i>
                  </a>
                </li>

                <li>
                  <a href="javascript:void(0)" {{action 'downloadLater'}}>
                      <i class="material-icons {{unless downloadLaterTracks.length 'my-icon-disabled'}}">shop_two</i>
                  </a>
                </li>

                <li>
                  {{#if downloadableTracks.length}}
                    <a href="javascript:void(0)" {{action 'download'}}>
                        <i class="material-icons">file_download</i>
                    </a>
                  {{else}}
                    <a href="javascript:void(0)" {{action 'delete'}}>
                        <i class="material-icons" {{unless downloadedTracks.length 'my-icon-disabled'}}>delete</i>
                    </a>
                  {{/if}}
                </li>

                <li>
                  <a href="javascript:void(0)" {{action 'removeFromPlaylist'}}>
                      <i class="material-icons {{unless playlist.canModify 'my-icon-disabled'}}">delete_sweep</i>
                  </a>
                </li>

                <li>
                    <a href="javascript:void(0)" {{action 'deselect'}}>
                        <i class="material-icons">cancel</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{{/if}}

{{#c-endless-scroll didScrollToBottom='didScrollToBottom' }}
    {{#each models as |track|}}
        {{c-track model=track play='play'}}
    {{/each}}

    {{#if isPending}}
        {{c-spinner class='my-spinner'}}
    {{/if}}
{{/c-endless-scroll}}
