{{#if selectedModels.length}}
    <nav class="my-fixed my-action-bar">
        <div class="nav-wrapper">
            <ul class="right">
                <li>
                    <a href="javascript:void(0)" {{action 'transitionToPlaylists'}}>
                        <i class="material-icons">loyalty</i>
                    </a>
                </li>

                <li>
                  <a href="javascript:void(0)" {{action 'queue'}}>
                      <i class="material-icons {{unless queueableTracks.length 'my-icon-disabled'}}">queue_music</i>
                  </a>
                </li>

                <li>
                  <a href="javascript:void(0)" {{action 'download'}}>
                      <i class="material-icons {{unless downloadableTracks.length 'my-icon-disabled'}}">file_download</i>
                  </a>
                </li>

                <li>
                  <a href="javascript:void(0)" {{action 'delete'}}>
                      <i class="material-icons {{unless downloadedTracks.length 'my-icon-disabled'}}">delete</i>
                  </a>
                </li>

                <li>
                    <a href="javascript:void(0)" {{action 'deselect'}}>
                        <i class="material-icons">cancel</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{{/if}}

{{#c-endless-scroll didScrollToBottom='didScrollToBottom' }}
    {{#each models as |track|}}
        {{c-track model=track showQueued=track.isQueued}}
    {{/each}}

    {{#if isPending}}
        {{c-spinner class='my-spinner'}}
    {{/if}}
{{/c-endless-scroll}}
