{{#if selectedModels.length}}
    <nav class="my-fixed-row my-action-row">
        <div class="nav-wrapper">
            <div class="my-badge">
                {{selectedModels.length}}
            </div>

            <ul class="right">
                <li>
                  {{c-icon-btn value='Toggle playlists' icon='loyalty' action='transitionToPlaylists'}}
                </li>

                <li>
                  {{c-icon-btn value='Remove from playlist' icon='delete_sweep' action='removeFromPlaylist' enabled=playlist}}
                </li>

                <li>
                   {{c-icon-btn value='Added to Queue' icon='queue_music' action='queue' enabled=queueableTracks.length}}
                </li>

                <li>
                  <a href="javascript:void(0)" {{action 'downloadLater'}}>
                      <i class="material-icons {{unless downloadableTracks.length 'my-icon-disabled'}}">shop_two</i>
                  </a>
                </li>

                <li>
                  {{#if downloadableTracks.length}}
                    <a href="javascript:void(0)" {{action 'download'}}>
                        <i class="material-icons">file_download</i>
                    </a>
                  {{else}}
                    <a href="javascript:void(0)" {{action 'delete'}}>
                        <i class="material-icons" {{unless downloadedTracks.length 'my-icon-disabled'}}>delete</i>
                    </a>
                  {{/if}}
                </li>

                <li>
                    <a href="javascript:void(0)" {{action 'deselect'}}>
                        <i class="material-icons">cancel</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{{/if}}

{{#c-endless-scroll didScrollToBottom='didScrollToBottom' }}
    {{#each models as |track|}}
        {{c-track model=track hideQueued=hideQueued}}
    {{/each}}

    {{#if isPending}}
        {{c-spinner class='my-spinner'}}
    {{/if}}
{{/c-endless-scroll}}
