{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if cache.hasPreviousTransition}}
      <div class='mdl-layout__header-row my-header-bar'>
        <label {{action 'transitionToPrevious'}} class="mdl-button mdl-js-button mdl-button--icon my-spaced-icon">
          <i class="material-icons">
            arrow_back
          </i>
        </label>

        <div class="mdl-cell my-menu-cell my-text-left">
            <span class="mdl-badge" data-badge={{collections.length}} />
        </div>
      </div>

      <header class="mdl-layout__header hidden" />
  {{else}}
      <header class="mdl-layout__header">
        <div class='mdl-layout__header-row'>
          <div class="mdl-cell my-menu-cell my-text-left">
              <span class="mdl-badge" data-badge={{collections.length}} />
          </div>
        </div>
      </header>
  {{/if}}

  <main class="mdl-layout__content mdl-color--grey-100">
    {{#if showNotFound}}
      <div class="mdl-grid">
        No collections found
      </div>
    {{/if}}

    {{#if collections}}
      <div class="mdl-grid my-grid-title">
        <h4>
            My Collections
        </h4>
      </div>

      <div class="mdl-grid my-grid">
        {{#each sortedCollections as |collection|}}
          {{c-collection model=collection action='transitionTo' toggleIsSelected='toggleIsSelected'}}

          <div class="my-collection-separator">
              <div class="my-collection-line" />
          </div>
        {{/each}}
      </div>
    {{/if}}
  </main>

  {{c-audio-player play='play' pause='pause' previous='previous' next='next'}}
{{/c-mdl-layout}}
