{{#if isLoading}}
    {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
{{/if}}

<!-- TODO: Implement error handling? -->

{{c-nav}}

{{outlet}}

{{#if audioPlayer.track}}
    <div class="my-audio-slider-bar {{if audioPlayer.isLargeMode 'my-fixed-audio-slider-bar'}}">
        {{c-audio-slider slider=utils.audioSlider}}
    </div>
{{/if}}

{{c-audio}}