{{#if isLoading}}
    {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
{{/if}}

<!-- TODO: Implement error handling? -->

{{outlet}}

{{c-toast showMessage=cache.showMessage}}

{{#if audioPlayer.recording}}
    <div class="audio-slider">
        {{c-audio-slider slider=cache.audioSlider}}
    </div>
{{/if}}

{{c-audio audioPlayer=audioPlayer}}