{{#if isLoading}}
    {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
{{/if}}

<!-- TODO: Implement error handling? -->

{{outlet}}

{{#if audioPlayer.track}}
    <div class="my-audio-player">
        {{c-audio-slider slider=utils.audioSlider}}

        <div class="row" style="margin-bottom: 0; margin-top: 8px;">
          <div class="col s10">
            <h5 class="truncate">
              {{audioPlayer.track.name}}
            </h5>
          </div>

          <div class="col s2 my-center">
            {{#if audioPlayer.isLoading}}
                {{c-spinner class='my-audio-spinner'}}
            {{/if}}

            {{#if audioPlayer.isPlaying}}
              <div {{action 'pause'}}>
                  <i class="material-icons my-audio-icon">pause</i>
              </div>
            {{/if}}

            {{#if audioPlayer.isIdle}}
              <div {{action 'play'}}>
                  <i class="material-icons my-audio-icon">play_arrow</i>
              </div>
            {{/if}}
          </div>
        </div>
    </div>
{{/if}}

{{c-audio}}