{{#if isLoading}}
    {{mdl-component class='mdl-spinner mdl-js-spinner is-active'}}
{{/if}}

<!-- TODO: Implement error handling? -->

{{outlet}}

{{message-bar showMessage=cache.showMessage}}

{{#if audioPlayer.recording}}
    <div class="audio-slider">
        {{audio-slider slider=cache.slider}}
    </div>
{{/if}}

{{audio-player audioPlayer=audioPlayer}}