{{outlet}}

<!-- TODO: refactor template/css code -->
{{#if audioPlayer.track}}
  {{#c-element didInsert='didInsertModal'}}
    {{#c-fixed class='my-audio-player collapsed' alignment='bottom' offset=10}}
      <div class="row my-audio-timer">
          <div class="col s6">
              <small>
                  {{time utils.audioSlider.value}}
              </small>
          </div>

          <div class="col s6 my-right">
              <small>
                  {{time utils.audioSlider.max}}
              </small>
          </div>
      </div>

      {{c-audio-slider slider=utils.audioSlider disabled=true}}

      <div class="row my-audio-row">
        <a href="#audio-player" class="col s10 waves-effect modal-trigger">
          <h5 class="truncate {{if audioRemote.playlist.name 'my-subtitle' 'my-title'}}">
            {{audioPlayer.track.name}}

            <div>
              {{audioRemote.playlist.name}}
            </div>
          </h5>
        </a>

        {{#if audioPlayer.isLoading}}
          <div class="col s2">
              {{c-spinner type='my-audio-spinner' class='my-player-spinner'}}
          </div>
        {{else if audioPlayer.isPlaying}}
          <div class="col s2 my-center" {{action 'pause'}}>
              <i class="mdi mdi-pause"></i>
          </div>
        {{else if audioPlayer.isIdle}}
          <div class="col s2 my-center" {{action 'resume'}}>
              <i class="mdi mdi-play"></i>
          </div>
        {{/if}}
      </div>
    {{/c-fixed}}

      <div id="audio-player" class="modal bottom-sheet my-audio-player my-audio-modal">
         <div class="my-player-header">
            <div class="my-backcover" />

            <div class="my-player-image">
              <div class="card">
                <div class="card-image" {{action 'transitionTo'}}>
                  {{c-parallax model=audioPlayer.track class='waves-effect waves-block waves-light'}}
                </div>
              </div>
            </div>

            <h5 class="truncate my-center">
              {{audioPlayer.track.name}}

              <div>
                <small>
                  {{audioRemote.playlist.name}}
                </small>
              </div>
            </h5>
         </div>

        <div class="my-player-footer">
          <div class="my-player-slider">
            <div class="row my-audio-timer">
                <div class="col s6">
                    <small>
                        {{time utils.audioSlider.value}}
                    </small>
                </div>

                <div class="col s6 my-right">
                    <small>
                        {{time utils.audioSlider.max}}
                    </small>
                </div>
            </div>

            {{c-audio-slider slider=utils.audioSlider disabled=false}}
          </div>

          <div class="row my-player-controls">
             <div class="col s4 my-right" {{action 'previous'}}>
               <i class="mdi mdi-skip-previous my-player-icon"></i>
             </div>

            {{#if audioPlayer.isLoading}}
              <div class="col s4 my-center">
                  {{c-spinner type='my-audio-spinner' class='my-player-spinner'}}
              </div>
            {{else if audioPlayer.isPlaying}}
              <div class="col s4 my-center" {{action 'pause'}}>
                <div class="btn-floating red">
                  <i class="mdi mdi-pause"></i>
                </div>
              </div>
            {{else if audioPlayer.isIdle}}
              <div class="col s4 my-center" {{action 'resume'}}>
                <div class="btn-floating red">
                  <i class="mdi mdi-play"></i>
                </div>
              </div>
            {{/if}}

             <div class="col s4" {{action 'next'}}>
               <i class="mdi mdi-skip-next my-player-icon"></i>
             </div>
        </div>
      </div>
  </div>
  {{/c-element}}
{{/if}}

{{c-audio}}
