<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
    {{#if isEditMode}}
        {{suggest-input value=liveQuery fetchSuggestions=fetchSuggestions insert-newline='saveEdit' focus=true}}
    {{else}}
        {{suggest-input value=liveQuery fetchSuggestions=fetchSuggestions insert-newline='search'}}
    {{/if}}

    <label class="mdl-textfield__label">
      {{label}}
    </label>
</div>

{{#if liveQuery}}
    <div class="input-group-btn">
        <div {{action 'clear'}} class="btn btn-default btn-inline">
            <i class="material-icons">close</i>
        </div>
    </div>
{{/if}}