{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if utils.hasPreviousTransition}}
      <div class='mdl-layout__header-row my-header-bar'>
        <label {{action 'back'}} class="mdl-button mdl-js-button mdl-button--icon my-spaced-icon">
          <i class="material-icons">
            arrow_back
          </i>
        </label>

        <div class="mdl-cell my-menu-cell my-text-left">
            <span class="mdl-badge" data-badge={{utils.selectedTrackIds.length}} />
        </div>

        Tracks selected
      </div>

      <header class="mdl-layout__header hidden" />
  {{else}}
      <header class="mdl-layout__header">
        <div class='mdl-layout__header-row'>
          <div class="mdl-cell my-menu-cell my-text-left">
              <span class="mdl-badge" data-badge={{utils.selectedTrackIds.length}} />
          </div>

          Tracks
        </div>
      </header>
  {{/if}}

  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid my-grid-title">
      <h5>
          Which playlists should contain these tracks?
      </h5>
    </div>

    {{#if showNotFound}}
      <div class="mdl-grid">
        No playlists found
      </div>
    {{/if}}

    {{#if playlists}}
      <div class="mdl-grid my-grid">
        {{#each sortedPlaylists as |playlist|}}
          {{c-playlist model=playlist action='transitionTo' changeSelect='changeSelect'}}

          <div class="my-playlist-separator">
              <div class="my-playlist-line" />
          </div>
        {{/each}}
      </div>
    {{/if}}
  </main>

  {{c-audio-player play='play' pause='pause' previous='previous' next='next'}}
{{/c-mdl-layout}}
