<!-- TODO: Show current user when implemented google login, http://www.getmdl.io/templates/dashboard/index.html -->

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">
    Menu
  </span>

  <nav class="mdl-navigation">
    <a {{action 'transitionToRoute' 'index'}}  class="mdl-navigation__link my-menu-link {{if (is-equal currentTargetName 'index') 'my-active'}}">
      <i class="material-icons my-menu-icon">
        whatshot
      </i>

      Recommended
    </a>

    <a {{action 'transitionToRoute' 'collection.my'}}  class="mdl-navigation__link my-menu-link {{if (is-equal currentTargetName 'collection.my') 'my-active'}}">
      <i class="material-icons my-menu-icon">
        loyalty
      </i>

      My Collections
    </a>

    <a {{action 'transitionToRoute' 'collection.index' 'queue'}}  class="mdl-navigation__link my-menu-link {{if (is-equal currentTargetName 'collection.index/queue') 'my-active'}}">
      <i class="material-icons my-menu-icon">
        queue_music
      </i>

      Queue
    </a>

    <a {{action 'transitionToRoute' 'collection.index' 'download-later'}}  class="mdl-navigation__link my-menu-link {{if (is-equal currentTargetName 'collection.index/download-later') 'my-active'}}">
      <i class="material-icons my-menu-icon">
        shop_two
      </i>

      Download Later
    </a>

    <a {{action 'transitionToRoute' 'collection.index' 'history'}}  class="mdl-navigation__link my-menu-link {{if (is-equal currentTargetName 'collection.index/history') 'my-active'}}">
      <i class="material-icons my-menu-icon">
        library_books
      </i>

      History
    </a>

    <a {{action 'transitionToRoute' 'settings'}}  class="mdl-navigation__link my-menu-link {{if (is-equal currentTargetName 'settings') 'my-active'}}">
      <i class="material-icons my-menu-icon">
        settings
      </i>

      Settings
    </a>
  </nav>
</div>

{{yield}}