{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if isCreatedMode}}
    {{c-input-bar value=createdCollectionName done='saveCreate'}}
  {{else if selectedCollections}}
      {{c-collections-bar collections=selectedCollections}}
  {{else if cache.hasPreviousTransition}}
      {{c-transition-bar transitionToPrevious='transitionToPrevious' title=query selectAll='selectAll'}}
  {{/if}}

  {{#if cache.hasPreviousTransition}}
      <header class="mdl-layout__header hidden" />
  {{else}}
   {{c-menu-bar title='My Collections' selectAll='selectAll' classNameBindings='hideMenuBar:hidden'}}
  {{/if}}

  <main class="mdl-layout__content mdl-color--grey-100">
    {{#unless collections.length}}
      <div class="mdl-grid my-grid-title">
        No collections found
      </div>
    {{/unless}}

      {{#if collections}}
      <div class="mdl-grid my-grid">
          {{#each sortedCollections as |collection|}}
              {{c-collection model=collection action='transitionTo'}}

              <div class="my-collection-separator">
                  <div class="my-collection-line" />
              </div>
          {{/each}}
      </div>
    {{/if}}
  </main>

  {{#unless isCreatedMode}}
    {{#c-mdl action='setupCreate' class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored my-fixed-button"}}
      <i class="material-icons">add</i>
    {{/c-mdl}}
  {{/unless}}

  {{c-audio-player audioPlayer=audioPlayer play='play' pause='pause'}}
{{/c-mdl-layout}}
