{{#mdl-layout}}
  {{#if isSearchMode}}
    {{#mdl-component class='mdl-layout__header-row autocomplete-header'}}
      <label {{action 'endSearchMode'}} class="mdl-button mdl-js-button mdl-button--icon menu-icon">
        <i class="material-icons">
          arrow_back
        </i>
      </label>

      {{audio-autocomplete action='search' liveQuery=liveQuery suggestions=suggestions}}

      <div class="mdl-layout-spacer"></div>

      {{#if liveQuery}}
        {{#mdl-component tagName='button' action='clear' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
          <i class="material-icons">close</i>
        {{/mdl-component}}
      {{/if}}
    {{/mdl-component}}
  {{/if}}

  <header class="mdl-layout__header {{if isSearchMode 'hidden'}}">
    <div class="mdl-layout__header-row">
      <div class="mdl-textfield mdl-js-textfield">
        <input value={{liveQuery}} {{action 'startSearchMode'}} class="mdl-textfield__input">

        <label class="mdl-textfield__label"></label>
      </div>

      <div class="mdl-layout-spacer"></div>

      <button {{action 'selectAll'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
  </header>

  <main class="mdl-layout__content mdl-color--grey-100">
      {{#if cache.selectedRecordings}}
          {{recording-action-bar recordings=cache.selectedRecordings isEditMode=isEditMode download='download' remove='remove' setupEdit='setupEdit' exitEdit='exitEdit'}}
      {{/if}}

      {{#if showNotFound}}
        No records found
      {{/if}}

      {{#endless-scroll didScrollToBottom=didScrollToBottom}}
        {{#if recordings}}
          <div class="my-panel">
              <div class="mdl-grid">
                  {{#each recordings as |recording|}}
                      {{audio-recording model=recording action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=recording.isQueued}}

                      <div class="my-recording-separator">
                          <div class="my-recording-line" />
                      </div>
                  {{/each}}
              </div>
          </div>
        {{/if}}

        <!-- TODO: check for nextPageToken instead? -->
        {{#if isLoading}}
            {{mdl-component class='mdl-spinner mdl-js-spinner is-active my-loading'}}
        {{/if}}
    {{/endless-scroll}}
  </main>

  {{audio-bar audioPlayer=audioPlayer transitionToQueue=transitionToQueue play=play pause=pause}}
{{/mdl-layout}}
