{{#if isLoading}}
    <div class="progress loading-bar">
        <div class="progress-bar progress-bar-striped progress-bar-info active" style="width: inherit;" />
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger alert-dismissable error-bar">
        <button type="button" class="close" aria-hidden="true" {{action 'dismissAlert'}}>&times;</button>
        <strong>Error:</strong> {{{error.message}}}
    </div>
{{/if}}

<div class="menu-placeholder" />

<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <!-- TODO: Show current user when implemented google login, http://www.getmdl.io/templates/dashboard/index.html -->

    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      {{#link-to 'labels' class='mdl-navigation__link' properties=linkToProperties}}
        <i class="mdl-color-text--blue-grey-400 material-icons">
          local_offer
        </i>

        Labels
      {{/link-to}}

      {{#link-to 'settings' class='mdl-navigation__link' properties=linkToProperties}}
        <i class="mdl-color-text--blue-grey-400 material-icons">
          settings
        </i>

        Settings
      {{/link-to}}
    </nav>
  </div>

  {{outlet}}

  {{message-bar showMessage=cache.showMessage}}

  {{#if audio.snippet}}
      <div class="audio-slider">
          {{slider-component slider=cache.slider}}
      </div>
  {{/if}}

  {{audio-component audio=audio}}
</div>
