{{#c-action-bar models=tracks deselect='deselect'}}
    <div class="mdl-cell my-menu-cell">
        {{yield}}
    </div>

    <div class="mdl-cell my-menu-cell">
        <div {{action 'transitionToCollections'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <span class="material-icons">
              loyalty
            </span>
        </div>
    </div>

    <div class="mdl-cell my-menu-cell">
      {{#if isEveryUnQueued}}
          {{#c-mdl action='queue' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
            <span class="material-icons">
              queue_music
            </span>
          {{/c-mdl}}
      {{else}}
         &nbsp;
      {{/if}}
    </div>

    <div class="mdl-cell my-menu-cell">
      {{#if isEveryDownloaded}}
          {{#c-mdl action='delete' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
            <span class="material-icons">
              delete
            </span>
          {{/c-mdl}}
      {{else if isEveryUndownloaded}}
          {{#c-mdl action='download' class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon'}}
            <span class="material-icons">
              file_download
            </span>
          {{/c-mdl}}
      {{else}}
         &nbsp;
      {{/if}}
    </div>
{{/c-action-bar}}
