{{#c-action-bar models=tracks}}
    <div class="my-menu-cell">
        <!-- TODO: Implement removeFromCollection -->
        {{yield}}
    </div>

    <div class="my-menu-cell">
        <div {{action 'transitionToCollections'}}  class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge">playlist_add</span>
        </div>
    </div>

    <div class="my-menu-cell">
      {{#if undownloadedTracks}}
          <div {{action 'download'}} class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge" data-badge={{unless isEveryUndownloaded undownloadedTracks.length}}>file_download</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>

    <div class="my-menu-cell">
      {{#if downloadedTracks}}
          <div {{action 'delete'}}  class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge" data-badge={{unless isEveryDownloaded downloadedTracks.length}}>delete</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>

    <div class="my-menu-cell">
      {{#if unQueuedTracks}}
          <div {{action 'queue'}}  class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge" data-badge={{unless isEveryUnQueued unQueuedTracks.length}}>queue_music</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>
{{/c-action-bar}}
