{{#c-mdl-layout transitionToRoute='transitionTo'}}
  <div class='mdl-layout__header-row my-header-bar'>
    <label {{action 'transitionToPrevious'}} class="mdl-button mdl-js-button mdl-button--icon menu-icon">
      <i class="material-icons">
        arrow_back
      </i>
    </label>

    <span class="mdl-layout-title">
      {{query}}
    </span>

    <div class="mdl-layout-spacer"></div>

    <button {{action 'selectAll'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
  </div>

  <header class="mdl-layout__header hidden" />

  {{#if selectedTracks}}
      {{c-tracks-bar tracks=selectedTracks download='download' delete='delete' queue='queue' transitionToCollections='transitionTo'}}
  {{/if}}

  {{#c-endless-scroll tagName='main' class='mdl-layout__content mdl-color--grey-100' didScrollToBottom='didScrollToBottom'}}
    {{#if showNotFound}}
      No tracks found
    {{/if}}

    {{#if tracks}}
      <div class="my-panel">
          <div class="mdl-grid my-title-grid">
              <div class="my-title-cell--10-col">
                  <h4 class="my-title-text">
                      Tracks
                  </h4>
              </div>
          </div>

          <div class="mdl-grid">
              {{#each sortedTracks as |track|}}
                  {{c-track model=track action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=track.isQueued}}

                  <div class="my-track-separator">
                      <div class="my-track-line" />
                  </div>
              {{/each}}
          </div>
      </div>
    {{/if}}

    {{#if isPending}}
      <div class="my-loading-bar">
        {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
      </div>
    {{/if}}
  {{/c-endless-scroll}}

  {{c-audio-player audioPlayer=audioPlayer transitionTo=transitionTo play=play pause=pause}}
{{/c-mdl-layout}}
