{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if selectedTracks}}
      {{c-tracks-bar tracks=selectedTracks transitionToCollections='transitionTo'}}
  {{else if cache.hasPreviousTransition}}
      {{c-transition-bar transitionToPrevious='transitionToPrevious' title=query selectAll='selectAll'}}
  {{/if}}

  {{#if cache.hasPreviousTransition}}
      <header class="mdl-layout__header hidden" />
  {{else}}
    {{c-menu-bar title=query selectAll='selectAll' classNameBindings='selectedTracks.length:hidden'}}
  {{/if}}

  {{#c-endless-scroll tagName='main' class='mdl-layout__content mdl-color--grey-100' didScrollToBottom='didScrollToBottom'}}
    <div class="mdl-grid">
     {{#if showNotFound}}
        No tracks found
      {{/if}}
    </div>

    {{#if tracks}}
      <div class="my-panel">
          <div class="mdl-grid my-title-grid">
              <div class="my-title-cell--10-col">
                  <h4 class="my-title-text">
                      Tracks
                  </h4>
              </div>
          </div>

          <div class="mdl-grid">
              {{#each sortedTracks as |track|}}
                  {{c-track model=track action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=track.isQueued}}

                  <div class="my-separator">
                      <div class="my-line" />
                  </div>
              {{/each}}
          </div>
      </div>
    {{/if}}

    {{#if isPending}}
      <div class="my-loading-bar">
        {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
      </div>
    {{/if}}
  {{/c-endless-scroll}}

  {{c-audio-player audioPlayer=audioPlayer transitionTo='transitionTo' play='play' pause='pause'}}
{{/c-mdl-layout}}
