<div {{action 'click'}}>
    <div class="outer-image">
        <img class="inner-image" {{bind-attr src=model.thumbnail}} draggable="false" />
    </div>
</div>

<div {{action 'click'}}>
  {{model.name}}

  <div class="my-paragraph-end" />
</div>

<div class="status-icons">
    {{#if model.isPlaying}}
        <div>
            <i class="material-icons">headset</i>
        </div>
    {{else}}
        {{#if showQueued}}
            <div>
                <i class="material-icons">schedule</i>
            </div>
        {{/if}}
    {{/if}}

    {{#if model.isDownloading}}
        <div>
            {{mdl-component tagName='i' class='mdl-spinner mdl-js-spinner is-active'}}
        </div>
    {{/if}}

    {{#if model.isDownloaded}}
        <div>
            <i class="material-icons">file_download</i>
        </div>
    {{/if}}
</div>

<div>
  <div {{action 'toggleSelection'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons">more_vert</i>
  </div>
</div>