{{#action-bar models=snippets deselect='exitEdit'}}
    <div class="col-xs-2 outer-label">
        {{#link-to 'labels' tagName='div' class='inner-label'}}
            <i class="material-icons">local_offer</i>
        {{/link-to}}
    </div>

    <div class="col-xs-2 outer-label">
        {{#if undownloadedSnippets}}
          {{#if isEveryUndownloaded}}
            <!-- TODO: Further refactored if else? -->
            <div {{action 'download'}} class="material-icons">
              file_download
            </div>
          {{else}}
            <div {{action 'download'}} class="material-icons mdl-badge" data-badge={{undownloadedSnippets.length}}>
              file_download
            </div>
          {{/if}}
        {{else}}
            &nbsp;
        {{/if}}
    </div>

    <div class="col-xs-2 outer-label">
        {{#if hasSingle}}
            {{#if isEditMode}}
                <div {{action 'exitEdit'}} class="inner-label">
                    <i class="material-icons">close</i>
                </div>
            {{else}}
                <div {{action 'setupEdit'}} class="inner-label">
                    <i class="material-icons">mode_edit</i>
                </div>
            {{/if}}
        {{else}}
            &nbsp;
        {{/if}}
    </div>

    <div class="col-xs-2 outer-label">
        {{#if offlineSnippets}}
          {{#if isEveryOffline}}
            <!-- TODO: Further refactored if else? -->
            <div {{action 'remove'}} class="material-icons">
              delete
            </div>
          {{else}}
            <div {{action 'remove'}} class="material-icons mdl-badge" data-badge={{offlineSnippets.length}}>
              delete
            </div>
          {{/if}}
        {{else}}
            &nbsp;
        {{/if}}
    </div>
{{/action-bar}}
