{{#action-bar models=snippets deselect='exitEdit'}}
    <div class="col-xs-2 outer-label">
        {{#link-to 'labels' tagName='div' class='inner-label'}}
            <i class="material-icons">local_offer</i>
        {{/link-to}}
    </div>

    <div class="col-xs-2 outer-label">
        {{#if undownloadedSnippets}}
            <div {{action 'download'}} class="inner-label">
                {{#unless isEveryUndownloaded}}
                    <span class="menu-text">
                        {{undownloadedSnippets.length}}
                    </span>
                {{/unless}}

                <i class="material-icons">file_download</i>
            </div>
        {{else}}
            &nbsp;
        {{/if}}
    </div>

    <div class="col-xs-2 outer-label">
        {{#if hasSingle}}
            {{#if isEditMode}}
                <div {{action 'exitEdit'}} class="inner-label">
                    <i class="material-icons">close</i>
                </div>
            {{else}}
                <div {{action 'setupEdit'}} class="inner-label">
                    <i class="material-icons">mode_edit</i>
                </div>
            {{/if}}
        {{else}}
            &nbsp;
        {{/if}}
    </div>

    <div class="col-xs-2 outer-label">
        {{#if offlineSnippets}}
            <div {{action 'remove'}} class="inner-label">
                {{#unless isEveryOffline}}
                    <span class="menu-text">
                        {{offlineSnippets.length}}
                    </span>
                {{/unless}}

                <i class="material-icons">delete</i>
            </div>
        {{else}}
            &nbsp;
        {{/if}}
    </div>
{{/action-bar}}
