{{#c-action-bar models=recordings}}
    <div class="my-menu-cell">
        {{#link-to 'albums' tagName='div' class='mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn'}}
            <span class="material-icons mdl-badge my-badge">playlist_add</span>
        {{/link-to}}
    </div>

    <div class="my-menu-cell">
        <!-- TODO: Implement removeFromAlbum -->
        {{yield}}
    </div>

    <div class="my-menu-cell">
      {{#if undownloadedRecordings}}
          <div {{action 'download'}} class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge" data-badge={{unless isEveryUndownloaded undownloadedRecordings.length}}>file_download</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>

    <div class="my-menu-cell">
      {{#if downloadedRecordings}}
          <div {{action 'delete'}}  class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge" data-badge={{unless isEveryDownloaded downloadedRecordings.length}}>remove</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>

    <div class="my-menu-cell">
      {{#if unQueuedRecordings}}
          <div {{action 'queue'}}  class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge" data-badge={{unless isEveryUnQueued unQueuedRecordings.length}}>queue_music</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>
{{/c-action-bar}}
