{{#link-to 'playlist' model tagName='div' class='card-image'}}
    {{c-image src=model.thumbnail}}
{{/link-to}}

<div class="card-content my-playlist-content">
  <div class="row">
    <div class="truncate">
      {{model.name}}
    </div>

    {{#if isSubscribe}}
      <div class="{{if model.isSelected 'btn-flat' 'btn'}} waves-effect waves-light my-btn--subscribe" {{action 'changeSelect'}}>
        {{if model.isSelected 'Rem' 'Add'}}
      </div>
    {{else}}
      <i class="material-icons" {{action 'changeSelect'}}>
        more_vert
      </i>
    {{/if}}
  </div>
</div>

<!-- TODO: remove? -->
<!-- {{#if model.isSaved}}
  <div class="card-action my-card-action">
      <i class="material-icons">save</i>
  </div>
{{/if}}
 -->