<div {{action 'click'}} class="card-image waves-effect waves-block waves-light">
  <div class="my-outer-image">
    <img class="my-inner-image" src={{model.thumbnail}} draggable="false" />
  </div>
</div>

<div class="card-content">
  <span class="card-title activator grey-text text-darken-4">
    {{model.name}}

    <i class="material-icons right" {{action 'changeSelect'}}>more_vert</i>
  </span>
</div>

<div class="card-action">
  <p>
   {{#if model.isPlaying}}
        <i class="material-icons">
          headset
        </i>
      {{else}}
          {{#if showQueued}}
              <i class="material-icons">
                schedule
              </i>
          {{/if}}
      {{/if}}

      {{#if model.isDownloading}}
          {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
      {{/if}}

      {{#if model.isDownloaded}}
          <i class="material-icons">
            offline_pin
          </i>
      {{/if}}
  </p>
</div>