{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{c-menu-bar title='Settings' hideSelectAll=true}}

  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid my-settings-grid">
      <label class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop mdl-switch mdl-js-switch mdl-js-ripple-effect" for="download-later">
        <input type="checkbox" id="download-later" class="mdl-switch__input" checked={{fileSystem.downloadLater}} />

        <span class="mdl-switch__label">
          Download track when you have wifi
        </span>
      </label>

      <label class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop mdl-switch mdl-js-switch mdl-js-ripple-effect" for="download-before">
        <input type="checkbox" id="download-before" class="mdl-switch__input" checked={{fileSystem.downloadBeforePlaying}} />

        <span class="mdl-switch__label">
          Download track before playing
        </span>
      </label>

      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
        <div class="file-field input-field">
          <div class="btn">
            <span>Import</span>
            {{c-file-input}}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>
  </main>

  {{c-audio-player play='play' pause='pause' previous='previous' next='next'}}
{{/c-mdl-layout}}

