{{#c-mdl-layout}}
    {{#c-mdl class='mdl-layout__header-row my-autocomplete-bar'}}
      <label {{action 'transitionToPrevious'}} class="mdl-button mdl-js-button mdl-button--icon menu-icon">
        <i class="material-icons">
          arrow_back
        </i>
      </label>

      <span class="mdl-layout-title">
        {{model.name}}
      </span>

      <div class="mdl-layout-spacer"></div>

      <button {{action 'selectAll'}} class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
    {{/c-mdl}}

  <main class="mdl-layout__content mdl-color--grey-100">
    {{#c-endless-scroll didScrollToBottom=didScrollToBottom}}
        {{#if cache.selectedRecordings}}
            {{recording-action-bar recordings=cache.selectedRecordings isEditMode=isEditMode download='download' remove='remove' setupEdit='setupEdit' exitEdit='exitEdit'}}
        {{/if}}

        {{#if showNotFound}}
          No records found
        {{/if}}

        {{#if recordings}}
          <div class="my-panel">
              <div class="mdl-grid my-title-grid">
                  <div class="my-title-cell--10-col">
                      <h4 class="my-title-text">
                          Recordings
                      </h4>
                  </div>

                  <div class="my-title-cell--2-col">
                      <div class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent my-title-btn">
                          more
                      </div>
                  </div>
              </div>

              <div class="mdl-grid">
                  {{#each recordings as |recording|}}
                      {{c-audio-recording model=recording action='play' swipeleft='pushToDownload' swiperight='pushToQueue' showQueued=recording.isQueued}}

                      <div class="my-recording-separator">
                          <div class="my-recording-line" />
                      </div>
                  {{/each}}
              </div>
          </div>
        {{/if}}

        {{#if isLoading}}
            <div class="my-loading-bar">
                {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
            </div>
        {{/if}}
    {{/c-endless-scroll}}
  </main>
{{/c-mdl-layout}}

{{c-audio-player audioPlayer=audioPlayer transitionToQueue=transitionToQueue play=play pause=pause}}