{{#c-fixed tagName='nav' class="my-nav-selection"}}
  <div class="nav-wrapper">
    <div class="my-badge">
        {{get-humanized utils.selectedTrackIds.length 'Track'}}
    </div>

    <div class="brand-logo truncate">
        Select Playlists
    </div>
  </div>
{{/c-fixed}}

{{#if isCreatedMode}}
    {{c-input-bar value=name placeholder='Create' done='save'}}
{{else}}
    {{#c-fixed-btn class='my-action-btn'}}
      <a href="javascript:void(0)" class="btn-floating btn-large waves-effect waves-light red my-model-btn" {{action 'setupCreate'}}>
          <i class="material-icons">add</i>
      </a>
    {{/c-fixed-btn}}
{{/if}}

{{#each sortedPlaylists as |playlist|}}
    {{c-playlist model=playlist changeSelect='changeSelect'}}
{{/each}}