{{#c-fixed tagName='nav'}}
  <div class="nav-wrapper">
    <div class="my-back my-back-top" {{action 'back'}}>
      <i class="material-icons">arrow_back</i>
    </div>

    <div class="brand-logo truncate">
        Select playlists
    </div>
  </div>
{{/c-fixed}}

{{#if isCreatedMode}}
    {{c-input-bar value=name placeholder='Create' done='save'}}
{{else}}
    {{#c-fixed-btn class='my-action-btn'}}
      <a href="javascript:void(0)" class="btn-floating btn-large waves-effect waves-light red" {{action 'setupCreate'}}>
          <i class="material-icons">add</i>
      </a>
    {{/c-fixed-btn}}
{{/if}}

{{#each sortedPlaylists as |playlist|}}
    {{c-playlist model=playlist changeSelect='changeSelect'}}
{{/each}}