{{c-menu}}

{{#if isEditMode}}
  {{c-input-bar value=name placeholder='Edit' done='saveEdit'}}
{{/if}}

<div class="card my-card-cover">
  {{#if model.tracks.length}}
    <div class="card-image waves-effect waves-light" {{action 'play'}}>
      {{c-parallax src=model.thumbnail}}
    </div>
  {{else}}
    <div class="card-image">
      {{c-parallax src=model.thumbnail}}
    </div>
  {{/if}}

  <div class="card-content my-relative">
    {{#c-fixed-btn class='fixed-action-btn horizontal click-to-toggle my-card-content'}}
      <a class="btn-floating btn-large waves-effect waves-light red my-model-btn">
        <i class="mdi mdi-menu"></i>
      </a>

      <ul>
        <li class={{unless model.isEditable 'my-hidden'}}>
          <a href="javascript:void(0)" class="btn-floating waves-effect waves-light" {{action 'setupEdit'}}>
            <i class="mdi mdi-pencil"></i>
          </a>
        </li>

        {{#unless model.permission}}
          <li class={{unless model.isSaved 'my-hidden'}}>
            <a href="javascript:void(0)" class="btn-floating waves-effect waves-light" {{action 'delete'}}>
                <i class="mdi mdi-tag-remove"></i>
            </a>
          </li>

          <li class={{if model.isSaved 'my-hidden'}}>
            <a href="javascript:void(0)" class="btn-floating waves-effect waves-light" {{action 'save'}}>
                <i class="mdi mdi-tag-heart"></i>
            </a>
          </li>
        {{/unless}}

        <li class={{unless model.isDownloadable 'my-hidden'}}>
          <a href="javascript:void(0)" class="btn-floating waves-effect waves-light" {{action 'download'}}>
              <i class="mdi mdi-download"></i>
          </a>
        </li>
      </ul>
    {{/c-fixed-btn}}

    <span class="card-title activator grey-text text-darken-4 truncate">
      {{model.name}}
    </span>

      <div class="row grey-text my-subtext">
        <div class="col s6">
          {{unless model.permission 'Playlist -'}} {{model.numberOfTracks}} tracks
        </div>

        <div class="col s6 my-right">
          {{#if model.isBusy}}
            {{c-spinner type='small'}}
          {{else if model.isDownloaded}}
            <i class="mdi mdi-download"></i>
          {{else if (is-and model.isSaved (is-not model.permission))}}
            <i class="mdi mdi-tag-heart"></i>
          {{/if}}
        </div>
      </div>
  </div>
</div>

{{c-tracks models=model.tracks isPending=isPending hideDownloaded=model.isDownloaded playlist=model didScrollToBottom='didScrollToBottom'}}