{{#if isEditMode}}
  {{c-input-bar value=name placeholder='Edit' done='save'}}
{{else}}
  {{c-menu}}
{{/if}}

<div class="card my-card-cover">
  <div class="card-image">
    {{c-parallax src=model.thumbnail}}
  </div>

  <div class="card-content my-relative">
    {{#if model.isEditable}}
      <div class="fixed-action-btn horizontal click-to-toggle my-card-content">
        <a class="btn-floating btn-large waves-effect waves-light red my-model-btn">
          <i class="material-icons">menu</i>
        </a>

        <ul>
          <li>
            <a href="javascript:void(0)" class="btn-floating yellow darken-1" {{action 'setupEdit'}}>
              <i class="material-icons">mode_edit</i>
            </a>
          </li>

          {{#if model.isSaved}}
            <li>
              <a href="javascript:void(0)" class="btn-floating red" {{action 'delete'}}>
                  <i class="material-icons">delete</i>
              </a>
            </li>
          {{else}}
            <li>
              <a href="javascript:void(0)" class="btn-floating blue" {{action 'save'}}>
                  <i class="material-icons">save</i>
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    {{/if}}

    <span class="card-title activator grey-text text-darken-4">
      Playlist
    </span>

    <div class="row my-subtext">
      <div class="truncate">
        {{model.name}}
      </div>

     {{#if model.isSaved}}
        <i class="material-icons left">save</i>
      {{/if}}
    </div>
  </div>

  <div class="card-action" />
</div>

<h5 class="my-center my-cover-section">
  Tracks
</h5>

{{c-tracks models=sortedModels isPending=isPending didScrollToBottom='didScrollToBottom'}}