{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if selectedCollections}}
      {{c-collections-bar collections=selectedCollections}}
  {{else if cache.hasPreviousTransition}}
      {{c-transition-bar transitionToPrevious='transitionToPrevious' title=query selectAll='selectAll'}}
  {{/if}}

  {{#if cache.hasPreviousTransition}}
      <header class="mdl-layout__header hidden" />
  {{else}}
      {{c-menu-bar title=query selectAll='selectAll' classNameBindings='selectedCollections.length:hidden'}}
  {{/if}}

  {{#c-endless-scroll tagName='main' class='mdl-layout__content mdl-color--grey-100' didScrollToBottom='didScrollToBottom'}}
    <div class="my-panel">
      {{#if showNotFound}}
        <div class="mdl-grid">
          No collections found
        </div>
      {{/if}}

      {{#if collections}}
          <div class="mdl-grid">
              {{#each sortedCollections as |collection|}}
                  {{c-collection model=collection action='transitionTo'}}

                  <div class="my-collection-separator">
                      <div class="my-collection-line" />
                  </div>
              {{/each}}
          </div>
      {{/if}}

      {{#if isPending}}
        <div class="my-loading-bar">
          {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
        </div>
      {{/if}}
    </div>
  {{/c-endless-scroll}}

  {{c-audio-player audioPlayer=audioPlayer transitionTo='transitionTo' play='play' pause='pause'}}
{{/c-mdl-layout}}
