{{#c-mdl-layout transitionToRoute='transitionTo'}}
  {{#if selectedCollections}}
      {{c-collections-bar collections=selectedCollections}}
  {{else if cache.hasPreviousTransitions}}
      {{c-transition-bar back='transitionToPrevious' title=query selectAll='selectAll'}}
  {{/if}}

  {{#if cache.hasPreviousTransitions}}
      <header class="mdl-layout__header hidden" />
  {{else}}
      {{c-menu-bar title=query selectAll='selectAll' classNameBindings='selectedCollections.length:hidden'}}
  {{/if}}

  {{#c-endless-scroll tagName='main' class='mdl-layout__content mdl-color--grey-100' didScrollToBottom='didScrollToBottom'}}
    {{#if showNotFound}}
      No collections found
    {{/if}}

    {{#if collections}}
      <div class="my-panel">
          <div class="mdl-grid my-title-grid">
              <div class="my-title-cell--10-col">
                  <h4 class="my-title-text">
                      Collections
                  </h4>
              </div>
          </div>

          <div class="mdl-grid">
              {{#each sortedCollections as |collection|}}
                  {{c-collection model=collection action='transitionTo'}}

                  <div class="my-collection-separator">
                      <div class="my-collection-line" />
                  </div>
              {{/each}}
          </div>
      </div>
    {{/if}}

    {{#if isPending}}
      <div class="my-loading-bar">
        {{c-mdl class='mdl-spinner mdl-js-spinner is-active'}}
      </div>
    {{/if}}
  {{/c-endless-scroll}}

  {{c-audio-player audioPlayer=audioPlayer transitionTo='transitionTo' play='play' pause='pause'}}
{{/c-mdl-layout}}
