{{outlet}}

{{#if audio.snippet}}
    <div class="audio-stamp" />

    <div class="container audio-bar text-center">
        <div class="row">
            <div class="col-xs-3 text-left">
                <div class="audio-timer">
                    {{time cache.slider.value}}
                </div>
            </div>

            <div {{action 'previous'}} class='col-xs-2 text-left audio-icon'>
                <i class="fa fa-step-backward"></i>
            </div>

            <div class='col-xs-2 audio-icon'>
                {{#if audio.isLoading}}
                    <i class="mdl-spinner mdl-js-spinner is-active"></i>
                {{/if}}

                {{#if audio.isPlaying}}
                    <i class="fa fa-pause" {{action 'pause'}}></i>
                {{/if}}

                {{#if audio.isIdle}}
                    <i class="fa fa-play" {{action 'play'}}></i>
                {{/if}}
            </div>

            <div {{action 'next'}} class='col-xs-2 text-right audio-icon'>
                <i class="fa fa-step-forward"></i>
            </div>

            <div class="col-xs-3 text-right">
                <div class="audio-timer">
                    {{time cache.slider.max}}
                </div>
            </div>
        </div>
    </div>
{{/if}}



