<div class="row menu-bar text-center action-top">
    <div class="col-xs-2 outer-label">
        {{#link-to 'explorer.index' tagName='div' class='inner-label'}}
            <i class="material-icons">arrow_back</i>
        {{/link-to}}
    </div>

    <div class="col-xs-8">
        <div class="audio-name">
            {{audio.snippet.name}}
        </div>
    </div>

    <div class="col-xs-2 outer-label">
        <div {{action 'selectAll'}} class="inner-label">
            <i class="material-icons">more_vert</i>
        </div>
    </div>
</div>

{{#if cache.selectedSnippets}}
    {{snippet-action-bar snippets=cache.selectedSnippets isEditMode=isEditMode download='download' remove='remove' setupEdit='setupEdit' exitEdit='exitEdit'}}
{{/if}}

{{suggest-input-group liveQuery=liveQuery editLabel=editLabel fetchSuggestions=fetchSuggestions isEditMode=isEditMode saveEdit='saveEdit' search='search'}}

<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    <div class="list-group">
        {{#each sortedSnippets as |snippet|}}
            {{my-snippet model=snippet action='play' swipeleft='removeFromQueue' param=snippet}}

            <div class="list-group-separator snippet-separator" />
        {{/each}}
    </div>
  </div>
</main>

{{#if audio.snippet}}
    <div class="audio-stamp" />

    <div class="container audio-bar text-center">
        <div class="row">
            <div class="col-xs-3 text-left">
                <div class="audio-timer">
                    {{time cache.slider.value}}
                </div>
            </div>

            <div {{action 'previous'}} class='col-xs-2 text-left audio-icon'>
                <i class="material-icons">skip_previous</i>
            </div>

            <div class='col-xs-2 audio-icon'>
                {{#if audio.isLoading}}
                    <i class="mdl-spinner mdl-js-spinner is-active"></i>
                {{/if}}

                {{#if audio.isPlaying}}
                    <i class="material-icons" {{action 'pause'}}>pause</i>
                {{/if}}

                {{#if audio.isIdle}}
                    <i class="material-icons" {{action 'play'}}>play_arrow</i>
                {{/if}}
            </div>

            <div {{action 'next'}} class='col-xs-2 text-right audio-icon'>
                <i class="material-icons">skip_next</i>
            </div>

            <div class="col-xs-3 text-right">
                <div class="audio-timer">
                    {{time cache.slider.max}}
                </div>
            </div>
        </div>
    </div>
{{/if}}
