{{#if selectedModels.length}}
    <nav class="my-fixed-row my-action-row">
        <div class="nav-wrapper">
            <div class="my-badge">
                {{selectedModels.length}}
            </div>

            <ul class="right">
                <li>
                    {{#if savablePlaylists.length}}
                      <a href="javascript:void(0)" {{action 'save'}}>
                          <i class="mdi mdi-tag-heart"></i>
                      </a>
                    {{else}}
                      <a href="javascript:void(0)" {{action 'delete'}}>
                          <i class="mdi mdi-tag-remove {{unless savedPlaylists.length 'my-icon-disabled'}}"></i>
                      </a>
                    {{/if}}
                </li>

                <li>
                    <a href="javascript:void(0)" {{action 'deselect'}}>
                        <i class="mdi mdi-close-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{{/if}}

<div class="container">
    {{#c-endless-scroll didScrollToBottom='didScrollToBottom' }}
        {{#each models as |playlist|}}
            {{c-playlist model=playlist}}
        {{/each}}

        {{#if isPending}}
            {{c-spinner class='my-spinner'}}
        {{/if}}
    {{/c-endless-scroll}}
</div>
