{{#if hasSelected}}
  <nav class="my-fixed">
    <div class="nav-wrapper">
      <ul class="right">
        <li>
          {{#if isEverySaved}}
            <a href="javascript:void(0)" {{action 'delete'}}>
                <i class="material-icons">delete</i>
              </a>
            {{else if isEveryUnsaved}}
              <a href="javascript:void(0)" {{action 'save'}}>
                  <i class="material-icons">shop_two</i>
              </a>
            {{else}}
              <a href="javascript:void(0)">
                  &nbsp;
              </a>
            {{/if}}
          </li>

          <li>
            <a href="javascript:void(0)" {{action 'deselect'}}>
                <i class="material-icons">close</i>
            </a>
        </li>
      </ul>
    </div>
  </nav>
{{/if}}

{{#c-endless-scroll didScrollToBottom='didScrollToBottom'}}
  {{#each playlists as |playlist|}}
      {{c-playlist model=playlist}}
  {{/each}}

  {{#if isPending}}
    {{c-spinner class='my-spinner'}}
  {{/if}}
{{/c-endless-scroll}}
