<ul id="slide-out" class="side-nav fixed">
  {{c-menu-item value='Recommended' route='index' icon='whatshot'}}
  {{c-menu-item value='My Playlists' route='playlists' icon='loyalty'}}
  {{c-menu-item value='Download Later' route='playlist' model='download-later' icon='queue_music'}}
  {{c-menu-item value='History' route='playlist' model='history' icon='library_books'}}

  <li>
    <div class="divider"></div>
  </li>

  {{c-menu-item value='Settings' route='settings' icon='settings'}}
</ul>

<nav>
    <div class="nav-wrapper">
      <a href="javascript:void(0)" data-activates="slide-out" class="button-collapse">
          <i class="material-icons">menu</i>
      </a>

      <ul class="right">
        {{yield}}

        <li>
          {{#link-to 'search.tracks' }}
            <i class="material-icons">search</i>
          {{/link-to}}
        </li>
      </ul>
    </div>
</nav>