{{#c-action-bar models=collections}}
    <div class="my-menu-cell-offset" />

    <div class="my-menu-cell">
      {{#if unsavedCollections}}
          <div {{action 'save'}} class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge" data-badge={{unless isEveryUnsaved unsavedCollections.length}}>archive</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>

    <div class="my-menu-cell">
      {{#if isEditable}}
          <div {{action 'edit'}}  class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge">mode_edit</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>

    <div class="my-menu-cell">
      {{#if savedCollections}}
          <div {{action 'delete'}}  class="mdl-button mdl-js-button mdl-js-ripple-effect my-menu-btn">
            <span class="material-icons mdl-badge my-badge" data-badge={{unless isEverySaved savedCollections.length}}>delete</span>
          </div>
      {{else}}
         &nbsp;
      {{/if}}
    </div>
{{/c-action-bar}}
